body {
    background-color: white;
    font-family: serif;
}

header {
    height: 450px;
    background-color: rgb(14, 18, 20);
    border-bottom: 2px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.loop_wrap {
    display: flex;
}

.slide {
    width: max-content;
}

.slide li {
    display: inline-block;
    width: min-content;
}

.slide li img{
    height: 448px;
}


@keyframes loop {
    0% {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes loop2 {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200%);
    }
  }

.loop_wrap ul:first-child {
    animation: loop 180s -90s linear infinite;
}
  
.loop_wrap ul:last-child {
    animation: loop2 180s linear infinite;
}

.navbar {

    margin-top: 50px;
}


.navbar button {
    border: solid 1px black;
}

.navbar .icon-bar {
    background-color: black;
}

.nav li {
    border: 1px solid lightgray;
}

.nav li a{
    color: black;

}


.profile {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    position: absolute;
    top: 0%;

}

.main-profile {
    margin-top: 70px;
}

img#my-img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    padding-bottom: 5px;
}


article {
    margin-top: 50px;
}

.content {
    margin: 70px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.js-animation {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all 1s;
}

.js-animation.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.menu-name {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    width:auto;
    border-bottom: 2px black solid;
}

.sub-title {
    padding-top: 10px;
    padding-bottom: 10px;
}
#news ul {
    display: inline;
    text-align: center;
    list-style-type: none;
    margin: 0;
}

#news ul i {
    margin-right: 5px;
}

#portfolio img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer .container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-nav {
    list-style-type: square;
}
.bottom-nav li {
    display: inline-block;
    margin-right: 20px;
}
.bottom-nav li a {
    color: whitesmoke;
}

.sns-icons {
    list-style-type: none;
}

.sns-icons li {
    display: inline-block;
    margin: 10px;
}
.my-icon {
    color: whitesmoke;
}